In [1]:
#import dependency
import pandas as pd

In [4]:
#read csv into pandas 
cities_df = pd.read_csv('cities.csv')
cities_df = cities_df.drop(columns=('Unnamed: 0'))
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Klaksvík,95,FO,1604789124,81,62.23,-6.59,42.80,5.82
1,Manokwari,99,ID,1604789124,73,-0.87,134.08,82.56,3.58
2,Saint-Philippe,0,RE,1604789124,77,-21.36,55.77,71.60,5.82
3,Ancud,0,CL,1604789124,51,-41.87,-73.82,62.60,8.05
4,Kalush,0,UA,1604788888,86,49.01,24.37,44.02,2.21
...,...,...,...,...,...,...,...,...,...
562,Homer,90,US,1604789200,100,59.64,-151.55,39.00,4.81
563,Podosinovets,98,RU,1604789200,95,60.28,47.07,34.61,12.41
564,Bagumbong,86,PH,1604789200,88,6.90,124.52,76.71,2.19
565,Impfondo,68,CG,1604789201,97,1.64,18.07,71.28,2.95
566,Nicoya,75,CR,1604789102,88,10.15,-85.45,78.80,5.82

In [5]:
#convert to html
filepath = '.../cities-table.html'
cities_df = cities_df.to_html(filepath)

FileNotFoundError: [Errno 2] No such file or directory: '.../.../cities-table2.html'